.toolbar-container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 12px;
  }

  span {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.content {
  padding: 24px;
}
